.table {
    table-layout: auto;
}

th, td {
    text-align: center;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}

thead {
    background-color: #fff;
    color: white;
}
   